asttokens==2.4.1
colorama==0.4.6
comm==0.2.0
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
executing==2.0.1
fonttools==4.44.0
ipykernel==6.26.0
ipython==8.17.2
jedi==0.19.1
joblib==1.2.0
jupyter_client==8.6.0
jupyter_core==5.5.0
kiwisolver==1.4.5
llvmlite==0.41.1
matplotlib==3.8.1
matplotlib-inline==0.1.6
multipledispatch==1.0.0
nest-asyncio==1.5.8
numba==0.58.1
numpy==1.26.0
packaging==23.2
pandas==2.1.3
parso==0.8.3
Pillow==10.1.0
platformdirs==4.0.0
prompt-toolkit==3.0.40
psutil==5.9.6
pure-eval==0.2.2
pyDOE2==1.3.0
pygame==2.5.1
Pygments==2.16.1
pyparsing==3.1.1
pyrr==0.10.3
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==306
pyzmq==25.1.1
scipy==1.10.1
seaborn==0.13.0
simpy==4.1.1
six==1.16.0
stack-data==0.6.3
tmx==1.10
tornado==6.3.3
traitlets==5.13.0
tzdata==2023.3
wcwidth==0.2.9
PS C:\Users\Leo\Documents\GitHub\Stochastic_Simulation\Stochastic-Simulation> pip freeze requirements.txt
Error processing line 1 of C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.11_3.11.1776.0_x64__qbz5n2kfra8p0\Lib\site-packages\distutils-precedence.pth:

  Traceback (most recent call last):
    File "<frozen site>", line 186, in addpackage
    File "<string>", line 1, in <module>
  AttributeError: module '_distutils_hack' has no attribute 'add_shim'

Remainder of file ignored
asttokens==2.4.1
colorama==0.4.6
comm==0.2.0
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
executing==2.0.1
fonttools==4.44.0
ipykernel==6.26.0
ipython==8.17.2
jedi==0.19.1
joblib==1.2.0
jupyter_client==8.6.0
jupyter_core==5.5.0
kiwisolver==1.4.5
llvmlite==0.41.1
matplotlib==3.8.1
matplotlib-inline==0.1.6
multipledispatch==1.0.0
nest-asyncio==1.5.8
numba==0.58.1
numpy==1.26.0
packaging==23.2
pandas==2.1.3
parso==0.8.3
Pillow==10.1.0
platformdirs==4.0.0
prompt-toolkit==3.0.40
psutil==5.9.6
pure-eval==0.2.2
pyDOE2==1.3.0
pygame==2.5.1
Pygments==2.16.1
pyparsing==3.1.1
pyrr==0.10.3
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==306
pyzmq==25.1.1
scipy==1.10.1
seaborn==0.13.0
simpy==4.1.1
six==1.16.0
stack-data==0.6.3
tmx==1.10
tornado==6.3.3
traitlets==5.13.0
tzdata==2023.3
wcwidth==0.2.9